<div id="employee_list">
	<h1><%= t('.title') %></h1>
	<div class="hr1">
		<hr/>
	</div>
	<br/><br/>
	<table>
  		<tr>
    		<th><%= t('.name') %></th>
    		<th><%= t('.dob') %></th>
    		<th><%= t('.salary') %></th>
    		<th><%= t('.job') %></th>
    		<th><%= t('.notes') %></th>
    		<th></th>
  		</tr>

		<% @employees.each do |employee| %>
  		<tr>
    		<td><%= link_to employee.name, employee %></td>
    		<td><%= employee.dob %></td>
    		<td><%= number_to_currency(employee.salary) %></td>
    		<td><%= employee.job %></td>
    		<td><%= employee.notes %></td>
    		<td>
    			<%= link_to t('.edit'), edit_employee_path(employee) %><br/>
    			<%= link_to t('.destroy'), employee, 
							:confirm => 'Are you sure?', 
							:method => :delete %><br/>
				<%= link_to t('.add'), add_to_project_employee_path(employee) %>
			</td>
  		</tr>
		<% end %>
	</table>
</div>
<br />

<%= link_to t('.new'), new_employee_path %>
<p><%= will_paginate @employees %></p>
