<script type="text/javascript">
	function updateTable(id, salary){
		var split = id.split(":");
		var checkbox = document.getElementById(id);
		
		var tot_day = document.getElementById(split[0] + ':tot_day');
		var tot_salary = document.getElementById(split[0] + ':tot_sal');
		
		if(checkbox.checked){
			tot_day.value = parseInt(tot_day.value) + 1;
		}
		else{
			tot_day.value = parseInt(tot_day.value) -1;
		}
		
		// update total salary
		tot_salary.value = (parseInt(tot_day.value) * parseFloat(salary)).toFixed(2)
		updateGrandTotal();
	}
	
	function updateGrandTotal() {
		var tot_salaries = document.getElementsByTagName('input')
		var grand_total = document.getElementById('grand_total')
		var total = 0;
		
		for(var i = 0; i < tot_salaries.length; i++){
			if(tot_salaries[i].id.indexOf('tot_sal') != -1) {
				total += parseFloat(tot_salaries[i].value)
			}
		}
		
		grand_total.value = total.toFixed(2)
	}
</script>

<div id='timesheet'>
	<h2><%= t('.title')%></h2>
	<p><%= t('.start_date')%> : <%= @start_date.strftime("%d %B %Y") %></p>

    <% posts = 'created_weekly_timesheet' 
      if @timesheet != nil
        posts = 'update_timesheet'
      end %>

	<%= form_tag(posts) do %>
		<%= hidden_field_tag :start_date, @start_date %>
		<table>
			<tr>
				<th class="top">No.</th>
				<th class="top"><%= t('.name')%></th>
				<th class="top"><%= t('.job')%></th>
				<th colspan='7'><%= t('.timesheet')%></th>
				<th class="top"><%= t('.total_day')%></th>
				<th class="top"><%= t('.salary')%></th>
				<th class="top"><%= t('.total_salary')%></th>
			</tr>
			<tr>
				<th class="middle"></th>
				<th class="middle"></th>
				<th class="middle"></th>
				<% (0..6).each do |n| 
					current_date =  @start_date + n %>
				<th> <%= current_date.strftime("%d")%> </th>
				<% end %>
				<th class="middle"></th>
				<th class="middle"></th>
				<th class="middle"></th>
			</tr>
			<tr>
				<th class="bottom"></th>
				<th class="bottom"></th>
				<th class="bottom"></th>
				<% (0..6).each do |n| 
					current_date =  @start_date + n %>
				<th> <%= current_date.strftime("%a")%> </th>
				<% end %>
				<th class="bottom"></th>
				<th class="bottom"></th>
				<th class="bottom"></th>
			</tr>
			<% if @timesheet != nil
				   counter = 1
				   grand_total = 0
				   @employees.each do |employee| 
						tot_day = 0 %>
				<tr>
					<td class='center-align'><%= counter %></td>
					<td><%= employee.name %></td>
					<td><%= employee.job %></td>
						<% (0..6).each do |n| 
							current_date = @start_date + n
							checkbox_id = employee.id.to_s + ":" + current_date.to_s
							
							if @timesheet.work_days.find_by_employee_id_and_day(employee.id, current_date) != nil
								tot_day += 1 %>
					<td><%= check_box_tag checkbox_id, 'selected', true, { :onchange => "updateTable('" + checkbox_id + "', '" + employee.salary.to_s + "');"} %></td>
							<% else	%>
					<td><%= check_box_tag checkbox_id, 'selected', false, { :onchange => "updateTable('" + checkbox_id + "', '" + employee.salary.to_s + "');"} %></td>
							<% end 
						 end %>
					<td class='center-align'><%= text_field_tag employee.id.to_s + ":tot_day", tot_day , { :readonly => true }%></td>
					<td class='center-align'><%= number_to_currency(employee.salary) %></td>
					<td class='center-align'><%= t('.currency')%><%= text_field_tag employee.id.to_s + ":tot_sal", number_to_currency(employee.salary * tot_day, :unit => ""), { :readonly => true }%></td>
				</tr>
				<%  	grand_total += employee.salary * tot_day		
						counter += 1
					end %>
				<tr>
					<td class='footer' colspan='12' style='text-align:right;'>Total</td>
					<td class='footer'>$<%= text_field_tag "grand_total", number_to_currency(grand_total, :unit => "") , { :readonly => true }%>
				</tr>
				<% else %>
				<% 	counter = 1
					@employees.each do |employee| %>
				<tr>
					<td class='center-align'><%= counter %></td>
					<td><%= employee.name %></td>
					<td><%= employee.job %></td>
					<% (0..6).each do |n| 
						current_date = @start_date + n 
						checkbox_id = employee.id.to_s + ":" + current_date.to_s %>
					<td><%= check_box_tag checkbox_id, 'selected', false, { :onchange => "updateTable('" + checkbox_id + "', '" + employee.salary.to_s + "');"} %></td> 
					<% end %>
					<td class='center-align'><%= text_field_tag employee.id.to_s + ":tot_day", 0 , { :readonly => true }%></td>
					<td class='center-align'><%= number_to_currency(employee.salary) %></td>
					<td class='center-align'><%= t('.currency')%><%= text_field_tag employee.id.to_s + ":tot_sal", 0, { :readonly => true }%></td>
				</tr>
				<%		counter += 1
					end %>
				<tr>
					<td class='footer' colspan='12' style='text-align:right;'><Total><%= t('.total')%></td>
					<td class='footer'><%= t('.currency')%><%= text_field_tag "grand_total", 0, { :readonly => true }%>
				</tr>
				<%  end %>
		</table>
		<br/>
			<% if @timesheet != nil %>
		    	<p><%= submit_tag t('.edit')%></p>
			<% else %>
				<p><%= submit_tag t('.submit')%></p>
			<% end %>
		<% end %>
	</div>