<div id='timesheet'>
<h2>Time sheet summary</h2>
<p><%= project.name %></p>
<p>Start Date : <%= timesheet.start_date.strftime("%d %B %Y") %></p>

	<table>
		<tr>
			<th class="top">No.</th>
			<th class="top">Name</th>
			<th class="top">Job</th>
			<th colspan='7'>Timesheet</th>
			<th class="top">Total day</th>
			<th class="top">Salary</th>
			<th class="top">Total salary</th>
		</tr>
		<tr>
			<th class="middle"></th>
			<th class="middle"></th>
			<th class="middle"></th>
				<% (0..6).each do |n| 
					current_date =  timesheet.start_date + n %>
			<th> <%= current_date.strftime("%d")%> </th>
				<% end %>
			<th class="middle"></th>
			<th class="middle"></th>
			<th class="middle"></th>
		</tr>
		<tr>
			<th class="bottom"></th>
			<th class="bottom"></th>
			<th class="bottom"></th>
				<% (0..6).each do |n| 
					current_date =  timesheet.start_date + n %>
			<th> <%= current_date.strftime("%a")%> </th>
				<% end %>
			<th class="bottom"></th>
			<th class="bottom"></th>
			<th class="bottom"></th>
		</tr>
		<%	counter = 1
		   	grand_total = 0
			employee_ids = Array.new
			timesheet.work_days.each do |work_day|
				employee_ids.push(work_day.employee_id)
			end
		    
			employee_ids = employee_ids.uniq
		   
		    employee_ids.each do |id|
			 	employee = Employee.find(id)
			 	tot_day = 0 %>
		<tr>
			<td class='center-align'><%= counter %></td>
			<td><%= employee.name %></td>
			<td><%= employee.job %></td>
				<% (0..6).each do |n| 
					current_date = timesheet.start_date + n
					if timesheet.work_days.find_by_employee_id_and_day(employee.id, current_date) != nil
						tot_day += 1 %>
			<td class='center-align'>1</td>
					<% else	%>
			<td class='center-align'>0</td>
					<% end 
				 end %>
			<td class='center-align'><%= tot_day %></td>
			<td class='center-align'><%= number_to_currency(employee.salary) %></td>
			<td class='center-align'><%= number_to_currency(employee.salary * tot_day)%></td>
		</tr>
		<%  	grand_total += employee.salary * tot_day		
				counter += 1
			end %>
		<tr>
			<td class='footer' colspan='12' style='text-align:right;'>Total</td>
			<td class='footer'><%= number_to_currency(grand_total)%></td>
		</tr>
	</table>
</div>