<p id="notice"><%= notice %></p>

<h1> <%= @project.name %> </h1>
<div class="hr1">
	<hr/>
</div>
<br/><br/>

<% if @start_date == nil %>	
	<%= form_tag('create_timesheet') do %>
		<p><%= t('.start_date')%></p>
		<p><%= date_select('range','start_date', :order => [:day, :month, :year])%></p> <br/>
		<p><%= submit_tag t('.submit')%></p>
	<% end 
	else %>
		<%= render 'form_timesheet' %>
	<% end %>
<br/>
<%= link_to t('.back'), project_path %>