<div class="article">
	<div id="employee_list">
		<h2><%= t('.title')%></h2>
		<div class="clr"></div>
		<br/><br/>
		<table>
  			<tr>
    			<th><Name><%= t('.name')%></th>
    			<th></th>
  			</tr>

			<% @projects.each do |project| %>
  			<tr>
    			<td> <%= project.name %></td>
    			<td>
	    			<%= link_to t('.show'), project %>
    			</td>
  			</tr>
			<% end %>
		</table>
	</div>
	<br />
	<p><%= will_paginate @projects %></p>
	<p class="spec"><%= link_to t('.new'), new_project_path, { :class => "rm"} %></p>
	<div class="clr"></div>
</div>