<p id="notice"><%= notice %></p>

<h1> <%= @project.name %> </h1>
<div class="hr1">
	<hr/>
</div>
<br/><br/>

<div id="employee_list">
	<table>
		<tr>
			<th><%= t('.name')%> </th>
			<th/>
		</tr>
		<% if(@employees != nil)
				@employees.each do |employee| %>
		<tr>
			<td>
				<%= employee.name %>
			</td>
			<td>
				<%= link_to t('.detail'), employee %> |
				<%= link_to t('.remove'), :action => 'remove_employee', :id => @project.id, :employee_id => employee.id %>
			</td>
		</tr>	
		<% 		end 
			end%>
	</table>
</div>

<br/><br/>
<%= link_to t('.back'), projects_path %> |
<%= link_to t('.edit'), edit_project_path(@project) %> |
<%= link_to t('.add_employee'), add_employee_project_path(@project) %> |
<%= link_to t('.create_timesheet'), create_weekly_timesheet_project_path(@project) %> |
<%= link_to t('.timesheet_history'), { :controller => 'timesheets', :action => 'index', :project_id => @project.id } %>
