<p id="notice"><%= notice %></p>

<h1>Listing timesheets</h1>

<div class="hr1">
	<hr/>
</div>
<br/><br/>

<%= form_tag('/timesheets') do %>
	<p>Project name <%= collection_select(:project, :id, Project.all, :id, :name, :prompt => true) %>
	<%= submit_tag 'Search'%></p>
<% end %>

<% if @timesheets != nil %>
<h2> Timesheets for <%= link_to @project.name, @project %> </h2>
<table>
	<% @timesheets.each do |timesheet| %>
	<tr>
		<td><%= timesheet.start_date.strftime("%d %B %Y") %></td>
		<td><%= link_to 'Show', :action => "show_summary", :id => timesheet.id %> |
			<%= link_to 'Destroy', timesheet, 
						:confirm => 'Are you sure?', 
						:method => :delete %>
		</td>
	</tr>
	<% end %>
</table>
<% end%>

<br/><br/>

