<h1>Listing work_days</h1>

<table>
  <tr>
    <th>Day</th>
    <th>Comment</th>
    <th>Timesheet</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @work_days.each do |work_day| %>
  <tr>
    <td><%= work_day.day %></td>
    <td><%= work_day.comment %></td>
    <td><%= work_day.timesheet_id %></td>
    <td><%= link_to 'Show', work_day %></td>
    <td><%= link_to 'Edit', edit_work_day_path(work_day) %></td>
    <td><%= link_to 'Destroy', work_day, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work day', new_work_day_path %>
