<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag "depot.css", "default.css", "layout.css" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<% @page_title || "Depot application" %>
		</div>
		<div id="main-menu">
			<ul>
				<li class ="first"><%= link_to t('.home'), projects_path, { :id => 'main-menu1', :accesskey => '1', :title => 'Projects'}%></li>
				<li><%= link_to t('.employee'), employees_path, { :id => 'main-menu2', :accesskey => '2', :title => 'Employee'}%></li>
				<li><%= link_to t('.timesheet'), timesheets_path, { :id => 'main_menu3', :accesskey => '3', :title => 'Timesheet'}%></li>
			</ul>
		</div>
		<div id="content">
			<div id="left">
				<%= yield %>
			</div>
		</div>
		<div id="footer">
			<p>Copyright &copy; 2011</p>
		</div>
	</div>
</body>
</html>
